@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global dark theme styles */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}